@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../../assets/fonts/avenirnextcyr-medium.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../../assets/fonts/avenirnextcyr-demi.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}