@use 'fonts';
@use 'variables';
@use 'themes';

* {
  box-sizing: border-box;
  font-family: 'Avenir Next Cyr', sans-serif;
  font-weight: 450;

  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type='date']::-moz-calendar-picker-indicator {
    display: none;
  }
  input[type='date']::-ms-clear {
    display: none;
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type='time']::-moz-calendar-picker-indicator {
    display: none;
  }
  input[type='time']::-ms-clear {
    display: none;
  }
}
