@use '../../../app//styles/variables.scss' as *;

.button {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  border: none;

  &:focus {
    outline: none;
    border: 2px solid $color-main-blue;
  }

  &:hover {
    opacity: 0.8;
  }

  &.white {
    background-color: #ffffff;
    color: #1d2225;
    border: 1px solid #d1d3d5;
  }

  &.blue {
    background-color: $color-main-blue;
    color: white;
  }

  &.attachment {
    font-size: 14px;
    box-shadow: $color-main-blue;
  }
}
