.date_picker {
  display: flex;
  align-items: center;
  border: 1px solid #e8e9ea;
  gap: 12px;
  border-radius: 8px;
  padding: 4px;
  width: 222px;

  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type='date']::-moz-calendar-picker-indicator {
    display: none;
  }
  input[type='date']::-ms-clear {
    display: none;
  }

  .date_icon_box {
    width: 40px;
    height: 40px;
    background-color: #e8e9ea;
    border: 1px solid #e8e9ea;
    border-radius: 8px;
    padding: 8px;
  }

  .icon {
    width: 24px;
    height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .date_input {
    width: 162px;
    font-size: 16px;
    color: var(--color-placeholder);
    border: none;
    height: 22px;
    padding: 0;
    background-color: var(--bg-primary);

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
