.time_picker {
  display: flex;
  align-items: center;
  border: 1px solid #e8e9ea;
  gap: 12px;
  border-radius: 8px;
  padding: 4px;

  .time_icon_box {
    width: 40px;
    height: 40px;
    background-color: #e8e9ea;
    border: 1px solid #e8e9ea;
    border-radius: 8px;
    padding: 7px;
  }

  .icon {
    width: 24px;
    height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .time_input {
    width: 70px;
    font-size: 16px;
    color: var(--color-placeholder);
    border: none;
    background-color: var(--bg-primary);

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
